<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 0.IoC注解扫描 -->
	<context:component-scan base-package="com.hand" />
	<!--DI注解解析-->
	<context:annotation-config/>

	<!--引入mybatis的context-->
	<import resource="applicationContext-mybatisbak.xml"/>

	<bean id="employeeServiceImpl" class="com.hand.api.service.impl.EmployeeServiceImpl"/>

	<bean id="FilmServiceImpl" class="com.hand.api.service.impl.FilmServiceImpl"/>

</beans>
