<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hand.infra.mapper.FilmMapper">
    <select id="listAll" resultType="Film">
        select * from film
    </select>

    <insert id="save">
        insert into film(title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update)
        values(#{title},#{description},#{release_year},#{language_id},#{original_language_id},#{rental_duration},#{rental_rate},#{length},#{replacement_cost},#{rating},#{special_features},#{last_update})
    </insert>
</mapper>